<!doctype html>
<html>
    <head>
        <title>{{Signup}}</title>
        <style>
                .error {color: red;}
        </style>  
    </head>
<body>
    {% block content %}
    <style>
    div.a { text-align: center;}
    div.b { color: darkgoldenrod;}
    </style> 
    <div class="a">
        <h1>Signup</h1>
    </div>  
    <div class="b">
    <form action="/validate" method="POST">
            <table>
                    <tbody><tr>
                        <td><label for="username">Username</label></td>
                        <td>
                            <input name="username" type="text" value="">
                            <span class="error"></span>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="password">Password</label></td>
                        <td>
                            <input name="password" type="password">
                            <span class="error"></span>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="verify">Verify Password</label></td>
                        <td>
                            <input name="verify" type="password">
                            <span class="error"></span>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="email">Email (optional)</label></td>
                        <td>
                            <input name="email" value="">
                            <span class="error"></span>
                        </td>
                    </tr>
                </tbody></table>
                <input type="submit">

                {% if error %}
                <p class='error'>{{ error }}</p>
                {% endif %}
    </form>
    </div>

    {% endblock %}
</body>
</html>